* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 35rem;
    background: #303030;
}

canvas {
    border: 0.25rem solid black;
    margin: 0 5rem;
    background: #ffffff;
}
